<% provide(:title,"About") %>
<% provide(:bg_image,"/assets/bg2.jpg") %>
<!DOCTYPE html>
<html>
  <div id="pageintro" class="hoc clear ta-screen-height"> 
    <article class="ta-pad-left ta-fc-white">
      <h2 class="heading">About</h2>
      <p>Timeless Apps is a service that connects people directly with developers to create projects. Projects can range from simple websites to large web applications. We work with both individuals and small-medium businesses to find a solution that works for them.</p>
      <br>
      <p>We encourage the design of projects to be as simple and intuitive as possible. This way, the application can focus on the main objectives of the project and we won't have to spend as much time on training. </p>
      <br>
    </article>
  </div>
</html>