<% provide(:title,"About") %>
<% provide(:bg_image,"/assets/bg-test.png") %>
<!DOCTYPE html>
<html>
  <div id="pageintro" class="hoc clear"> 
    <article class="ta-pad-left ta-fc-grey">
      <h2 class="heading">About</h2>
      <p>We are a small Canadian based company focused on providing other small companies with affordable IT solutions.

Although we are based in Vancouver, we do work with companies in other countries as well and are happy to help anyone we can who send us a message</p>
    </article>

  </div>
</html>