<% provide(:title,"Contact") %>
<% provide(:bg_image,"/assets/bg2.jpg") %>

<!DOCTYPE html>
<html>

  <div id="pageintro" class="hoc clear"> 
    <article class="ta-pad-left ta-fc-grey">
      <h2 class="heading">About</h2>
      <p>Timeless Apps is a service that connects people directly with developers to create projects. Projects can range from simple websites to large desktop applications. We work with both individuals and small-medium businesses to find a solution that works for them.</p>
      <br>
      <p>We work with customers to identify projects that can accomplish their needs. We encourage the design to be simple and intuitive, so that the project focuses on the features relevant to the main goal. </p>
    </article>

  </div>
</html>