<% provide(:title,"Contact") %>
<% provide(:bg_image,"/assets/bg2.jpg") %>

<!DOCTYPE html>
<html>

  <div id="pageintro" class="hoc clear ta-screen-height"> 
    <article class="ta-pad-left ta-fc-white">
      <h2 class="heading">Contact</h2>
      <br>
      <p>
      	If you have any questions about our process, pricing, or anything else, please feel free to send us a message. 
      </p>
	  <br>
      <p>We can be reached through email at <a href="mailto:support@timelessapps.com?Subject=General%20Inquiry" target="_top">support@timelessapps.com</a>. </p>
    </article>
  </div>
</html>