<% provide(:title,"Contact") %>
<% provide(:bg_image,"/assets/bg2.jpg") %>

<!DOCTYPE html>
<html>

  <div id="pageintro" class="hoc clear ta-screen-height"> 
    <article class="ta-pad-left ta-fc-white">
      <h2 class="heading">Contact</h2>
      <p>We can be reached through email at support@timelessapps.com. If you would like to leave a quick message, please feel free to use the form below as well. </p>
      <br>
      
    </article>

  </div>
</html>