<% provide(:title,"Home") %>
<!DOCTYPE html>
<html>
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">   <div class="wrapper row1">
    <%= render 'layouts/header' %>
  </div>

  <div id="pageintro" class="hoc clear"> 
    <article class="ta-padding-left">
      <h2 class="heading">Simple and Beautiful</h2>
      <p>We create stunning websites and applications that drive success into your business. Our price ranges provide smaller businesses easier access to technical solutions. </p>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="#">View Prices</a></li>
          <li><a class="btn inverse" href="#">Learn More</a></li>
        </ul>
      </footer>
    </article>

  </div>

</div>
<!-- End Top Background Image Wrapper -->

<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <div class="center btmspace-50">
      <h3 class="font-x2 nospace">Our Design</h3>
      <!-- p class="nospace">The principles that we follow to deliver the best user experience possible. </a>.</p-->
    </div>
    <ul class="nospace group services">
      <li class="one_third first">
        <article><a href="#"><i class="fa fa-paperclip"></i></a>
          <h6 class="heading">Responsive</h6>
          <p>All of our websites are designed to be responsive for the most popular digital platforms today. This way your customers can view your content on their mobile devices and still retain the smooth browsing experience that our websites are designed for&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-calculator"></i></a>
          <h6 class="heading">Affordable</h6>
          <p>We keep our prices as low as possible to give smaller businesses better access to technical solutions.  We work with our clients to make sure that their payments go directly to the services we use, so that we are not charging for any extra middleman fees. &hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-pie-chart"></i></a>
          <h6 class="heading">Intuitive</h6>
          <p>
          Our websites and applications are designed to be simple to use. We avoid cluttering features to deliver a smooth and intuitive user experience&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third first">
        <article><a href="#"><i class="fa fa-recycle"></i></a>
          <h6 class="heading">Secure</h6>
          <p>Websites that we deliver are always secured with the most up to date SSL certificates upon completion. Visitors can feel re-assured that their connection is encrypted with some of the most robust cyphersuits and protocols today&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-code-fork"></i></a>
          <h6 class="heading">Reliable</h6>
          <p>The technology that we use to build our products have been widely used for years. We only use components that have been proven to be reliable and consistent over time. This way we minimize the chances of our customers experiencing technical issues that naturally arise from new and experimental technology&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-cogs"></i></a>
          <h6 class="heading">Specialized</h6>
          <p>The customized solutions we create are designed to be focused specifically on what your business needs. We keep the design simple and the costs low, because you only pay for what you need.  &hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
    </ul>
    <!-- Main Body -->
    <div class="clear"></div>
  </main>
</div>

<div class="wrapper">
  <div class="split clear" style="background-image:url('images/demo/backgrounds/02.png');">
    <section class="box"> 
      <div class="btmspace-50">
        <p class="nospace"><a href="#">Ipsum primis in faucibus</a></p>
        <h2 class="heading">Quisque venenatis eleifend</h2>
      </div>
      <div class="testimonial">
        <figure class="clear"><img src="images/demo/60x60.png" alt="">
          <figcaption><strong>A.Doe</strong><br>
            <em>Position, Company Name</em></figcaption>
        </figure>
        <blockquote>Enim eget aliquam ex porta in donec in turpis mollis ultricies risus quis varius velit aenean pretium consectetur finibus maecenas magna arcu consectetur sit amet nisi quis consectetur faucibus augue morbi iaculis elit vel dui viverra porta mauris.</blockquote>
      </div>
    </section>
  </div>
</div>
<div class="wrapper row3">
  <div class="hoc container clear"> 
    <div class="center btmspace-50">
      <h3 class="font-x2 nospace">Vitae diam pellentesque</h3>
      <p class="nospace">Fermentum nulla cursus porttitor imperdiet suspendisse vel diam dui mauris <a href="#">faucibus sed</a>.</p>
    </div>
    <ul class="nospace group elements">
      <li class="one_third first">
        <figure><img src="images/demo/320x240.png" alt="">
          <figcaption><a href="#">Gravida</a></figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><img src="images/demo/320x240.png" alt="">
          <figcaption><a href="#">Elementum</a></figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><img src="images/demo/320x240.png" alt="">
          <figcaption><a href="#">Vehicula</a></figcaption>
        </figure>
      </li>
      <li class="one_third first">
        <figure><img src="images/demo/320x240.png" alt="">
          <figcaption><a href="#">Scelerisque</a></figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><img src="images/demo/320x240.png" alt="">
          <figcaption><a href="#">Pharetra</a></figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><img src="images/demo/320x240.png" alt="">
          <figcaption><a href="#">Ullamcorper</a></figcaption>
        </figure>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
</div>
</html>