<div class="container ta-center ta-pricing-table-container">
    <div class="pricing-table">
        <div class="pricing-table-header">
            <h1>Simple Website</h1>
        </div>
        
        <div class="pricing-table-content">
            <ul>
                <li>Responsive Design</li>
                <li>Custom Domain Name</li>
                <li>Secured with SSL</li>
                <li><a href="#">Learn More</a></li>
            </ul>
        </div>
        
        <div class="pricing-table-footer">
            <h2><sup>$</sup>899.00</h2>
            <a href="mailto:support@timelessapps.com?subject=Project%20Request&body=Project%20Type%20%28Website%2C%20Web%20Application%2C%20Desktop%20Application%29%3A%0D%0ASimple%20Website%0D%0%0D%0AAProject%20Description%3A%0D%0A">Request Project</a>
        </div>
    </div>
    
    <div class="pricing-table">
        <div class="pricing-table-header">
            <h1>Full Website</h1>
        </div>
        
        <div class="pricing-table-content">
            <ul>
                <li>Custom Skins</li>
                <li>Content Management</li>
                <li>SEO</li>
                <li><a href="#">Learn More</a></li>
            </ul>
        </div>
        
        <div class="pricing-table-footer">
            <h2><sup>$</sup>1899</h2>
            <a href="mailto:support@timelessapps.com?subject=Project%20Request&body=Project%20Type%20%28Website%2C%20Web%20Application%2C%20Desktop%20Application%29%3A%0D%0AFull%20Website%0D%0%0D%0AAProject%20Description%3A%0D%0A">Request Project</a>
        </div>
    </div>
    
    <div class="pricing-table">
        <div class="pricing-table-header">
            <h1>Custom Application (Web/Desktop)</h1>
        </div>
        
        <div class="pricing-table-content">
            <ul>
                <li>Custom plugins</li>
                <li>Free sub domains</li>
                <li>Custom API</li>
                <li><a href="#">Learn More</a></li>
            </ul>
        </div>
        
        <div class="pricing-table-footer">
            <h2><sup>$</sup>4000+</h2>
            <a href="mailto:support@timelessapps.com?subject=Project%20Request&body=Project%20Type%20%28Website%2C%20Web%20Application%2C%20Desktop%20Application%29%3A%0D%0A%0D%0%0D%0AAProject%20Description%3A%0D%0A">Request Project</a>
        </div>
    </div>
%0D%0A
    <div id="price-footer ta-price-footer">All prices in CAD</div>

</div>

  <div class="wrapper row3 ta-bg-dark-grey">
    <div class="hoc container clear ta-fc-white"> 
      <div class="btmspace-50">
        <h3 class="font-x2 nospace">Additional Costs</h3>
        <br>
        <p class="nospace">Some projects may require hosting fees. Smaller websites expecting low traffic may have free hosting options available while other projects can require higher monthly fees. We can help provide guidance on which third party services to use, depending on your preference. We can also help you with taking care of the hosting part for a monthly fee. </p>
      </div>
      <div class="clear"></div>
    </div>
  </div>