<div class="container ta-center">
    <div class="pricing-table">
        <div class="pricing-table-header">
            <h1>Simple Website</h1>
        </div>
        
        <div class="pricing-table-content">
            <ul>
                <li><strong>10GB</strong> Disk Space</li>
                <li><strong>5</strong> Email Addresses</li>
                <li><strong>3</strong> Subdomains</li>
                <li><strong>1</strong> MySQL Databases</li>
            </ul>
        </div>
        
        <div class="pricing-table-footer">
            <h2><sup>$</sup>499.00</h2>
            <a href="#">Buy Now</a>
        </div>
    </div>
    
    <div class="pricing-table">
        <div class="pricing-table-header">
            <h1>Full Website</h1>
        </div>
        
        <div class="pricing-table-content">
            <ul>
                <li><strong>50GB</strong> Disk Space</li>
                <li><strong>20</strong> Email Addresses</li>
                <li><strong>10</strong> Subdomains</li>
                <li><strong>30</strong> MySQL Databases</li>
            </ul>
        </div>
        
        <div class="pricing-table-footer">
            <h2><sup>$</sup>1499</h2>
            <a href="#">Buy Now</a>
        </div>
    </div>
    
    <div class="pricing-table">
        <div class="pricing-table-header">
            <h1>Custom Web Application</h1>
        </div>
        
        <div class="pricing-table-content">
            <ul>
                <li><strong>75GB</strong> Disk Space</li>
                <li><strong>50</strong> Email Addresses</li>
                <li><strong>20</strong> Subdomains</li>
                <li><strong>50</strong> MySQL Databases</li>
            </ul>
        </div>
        
        <div class="pricing-table-footer">
            <h2><sup>$</sup>2000+</h2>
            <a href="#">Buy Now</a>
        </div>
    </div>
</div>

<div id="price-footer">All prices in CAD</div>