<div class="container ta-center ta-pricing-table-container">
    <div class="pricing-table">
        <div class="pricing-table-header">
            <h1>Simple Website</h1>
        </div>
        
        <div class="pricing-table-content">
            <ul>
                <li>Responsive Design</li>
                <li>Custom Domain Name</li>
                <li>Secured with SSL</li>
                <li><a href="#">Learn More</a></li>
            </ul>
        </div>
        
        <div class="pricing-table-footer">
            <h2><sup>$</sup>899.00</h2>
            <a href="#">Request Project</a>
        </div>
    </div>
    
    <div class="pricing-table">
        <div class="pricing-table-header">
            <h1>Full Website</h1>
        </div>
        
        <div class="pricing-table-content">
            <ul>
                <li>Custom Skins</li>
                <li>Content Management</li>
                <li>SEO</li>
                <li><a href="#">Learn More</a></li>
            </ul>
        </div>
        
        <div class="pricing-table-footer">
            <h2><sup>$</sup>1899</h2>
            <a href="#">Request Project</a>
        </div>
    </div>
    
    <div class="pricing-table">
        <div class="pricing-table-header">
            <h1>Custom Web Application</h1>
        </div>
        
        <div class="pricing-table-content">
            <ul>
                <li>Custom plugins</li>
                <li>Free sub domains</li>
                <li>Custom API</li>
                <li><a href="#">Learn More</a></li>
            </ul>
        </div>
        
        <div class="pricing-table-footer">
            <h2><sup>$</sup>4000+</h2>
            <a href="#">Request Project</a>
        </div>
    </div>

    <div id="price-footer ta-price-footer">All prices in CAD</div>
</div>