<div class="ta-project-form-wrapper">
	<h2>New Project</h2>

	<%= render 'form' %>

	<br>
	<div class="ta-action-buttons">
		<%= link_to 'Back', projects_path, class: "ta-btn-default" %>
	</div>
</div>