<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>From <%= @visitor_email %>: </h1>
    <p>
      Message: 
    </p>
    <p>
      <%= @message %>
    </p>
    <br>
  </body>
</html>