/* Fixing things from layout */

/*Home Staic Page */
.ta-pad-left
{
	padding-left: 25px;
}

.ta-pad-right
{
	padding-right: 25px;
}

#footer
{
	padding-left: 25px;
}

.ta-center
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.ta-pad-horizontal article
{
	padding: 0px 15px 0 15px;
}

.ta-pad-bottom
{
	padding-bottom: 10px;
}

.ta-maxwidth-50
{
	max-width: 50%;
}

.ta-justify
{
	text-align: justify;
}

.ta-justify:after 
{
  content: "";
  display: inline-block;
  width: 100%;
}

.ta-cursor
{
	/* For different browsers */
	cursor: pointer;
	cursor: hand;
}

@media only screen and (max-width: 1300px)
{
	#ta-home-bg
	{
		/* background-image: url('bg2.jpg'); */
		background-size: 100% auto; 
		/* background-position: bottom; */
		background-repeat: no-repeat;
		background-position: 0px 200px;
	}
}

@media only screen and (min-width: 651px)
{
	#ta-home-bg
	{
		background-size: 100%;
		background-repeat: no-repeat;

	}
}

@media only screen and (max-width: 651px)
{
	#ta-home-bg
	{
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: bottom;
	}
}

/*
@media only screen and (min-width: 747px)
{
	#ta-home-bg
	{
		background-position: 0px 200px;

	}
}
*/

.ta-screen-height
{
	height: 85vh;
	min-height: 900px;
}


/* Search Area */
.ta-search-space
{
	max-width: 500px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
}

.ta-btn-small
{
	text-align: center;
	line-height: 35px;
	height: 35px;
	width: 100px;
	font-size: 16px;
	background-color: CornflowerBlue;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 2px;
	border: none;
}

.ta-btn-small:hover
{
	background-color: #5077bd;
	cursor: hand;
	cursor: pointer;
}

.ta-search-bar
{
	flex: 1;
	width: 150px;
	border-radius: 2px;
}

.ta-space
{
	width: 5px;
	min-width: 5px;
}

/* Copyright Area */
#copyright .ta-pad-left
{
	padding-left: 15px;
}

#copyright .ta-pad-right
{
	padding-right: 15px;
}

/* Font and Colors */
.ta-fc-white
{
	color: white;
}

.ta-bg-white
{
	background-color: white;
}

.ta-fc-grey
{
	color: #484848;
}


/* Margin*/
.ta-marg-top
{
	margin-top: 50px;
}

/* Progress bar and tables */
.ta-mid-scale
{
  margin-right: auto;
  margin-left: auto;
  display: inline;
}

.wrapper
{
  overflow: auto;
}

/*Project table area */
.ta-btn-info
{
	color: white;
	background-color: #5bc0de;
	border-color: #46b8da;
	border-radius: 4px;
	padding: 6px 12px;
	margin-left: 10px;
}

.ta-btn-warning
{
	color: white;
	background-color: #f0ad4e;
	border-color: #eea236;;
	border-radius: 4px;
	padding: 6px 12px;
	margin-left: 5px;
}

.ta-btn-danger
{
	color: white;
	background-color: #d9534f;
	border-color: #d43f3a;;
	border-radius: 4px;
	padding: 6px 12px;
	margin-left: 5px;
}

.ta-btn-default
{
	color: #333;
	background-color: #fff;
	border-color: #ccc;;
	border-radius: 4px;
	padding: 6px 12px;
	margin-left: 5px;
}

table thead tr th.ta-description-box, table tbody tr td.ta-description-box
{
	text-align: left;
}

.ta-action-buttons
{
	text-align: center;
	display: inline-block;
	float: left;
}

.ta-action-buttons-header
{
	min-width: 250px;
}

/* Flash Messages */
.alert-success
{
    background: #e6efc2;
    color: #155724;
    border-color: #c6d880;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
}

.alert-primary
{
	color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
}

.alert-secondary
{
	color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
}

.alert-danger
{
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
}

.alert-warning
{
	color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
}

.alert-info
{
	color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
}

.alert-light
{
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
}

.alert-dark
{
	color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
}

/* User login, profile, and sign-in areas. */
.ta-session-forms
{
	display: relative;
    margin: 0 auto;
    max-width: 900px;
    padding-left: 25px;
    margin-top: 25px;
}

.ta-session-input
{
	padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: -25px;
    margin-bottom: 25px;
}

.ta-remember-me-checkbox
{
	float: left;
	margin-top: 3px;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

.ta-login-btn
{
	margin-top: 5px;
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.ta-login-btn:hover
{
	margin-top: 5px;
	background-color: CornFlowerBlue;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	cursor: pointer;
	cursor: hand;
}

.ta-cancel-account
{
	margin-top: 5px;
	color: #fff;
    background-color: grey;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.ta-cancel-account:hover
{
	margin-top: 5px;
	background-color: #D3D3D3;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.ta-input-padding-left
{
	padding-left: 10px;
}