/* Fixing things from layout */

/*Home Staic Page */
.ta-padding-left
{
	padding-left: 25px;
}

.ta-padding-right
{
	padding-right: 25px;
}

#footer
{
	padding-left: 25px;
}

.ta-center
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.ta-pad-horizontal article
{
	padding: 0px 15px 0 15px;
}

.ta-pad-bottom
{
	padding-bottom: 10px;
}

.ta-justify
{
	text-align: justify;
}

.ta-justify:after 
{
  content: "";
  display: inline-block;
  width: 100%;
}

