/* Fixing things from layout */

/*Home Staic Page */
.ta-pad-left
{
	padding-left: 25px;
}

.ta-pad-right
{
	padding-right: 25px;
}

#footer
{
	padding-left: 25px;
}

.ta-center
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.ta-pad-horizontal article
{
	padding: 0px 15px 0 15px;
}

.ta-pad-bottom
{
	padding-bottom: 10px;
}

.ta-maxwidth-50
{
	max-width: 50%;
}

.ta-justify
{
	text-align: justify;
}

.ta-justify:after 
{
  content: "";
  display: inline-block;
  width: 100%;
}

.ta-cursor
{
	/* For different browsers */
	cursor: pointer;
	cursor: hand;
}

@media only screen and (max-width: 1300px)
{
	#ta-home-bg
	{
		/* background-image: url('bg2.jpg'); */
		background-size: 100% auto; 
		/* background-position: bottom; */
		background-repeat: no-repeat;
		background-position: 0px 200px;
	}
}

@media only screen and (min-width: 651px)
{
	#ta-home-bg
	{
		background-size: 100%;
		background-repeat: no-repeat;

	}
}

@media only screen and (max-width: 651px)
{
	#ta-home-bg
	{
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: bottom;
	}
}

/*
@media only screen and (min-width: 747px)
{
	#ta-home-bg
	{
		background-position: 0px 200px;

	}
}
*/

.ta-screen-height
{
	height: 85vh;
	min-height: 900px;
}


/* Search Area */
.ta-search-space
{
	max-width: 500px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
}

.ta-btn-small
{
	text-align: center;
	line-height: 35px;
	height: 35px;
	width: 100px;
	font-size: 16px;
	background-color: CornflowerBlue;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 2px;
	border: none;
}

.ta-btn-small:hover
{
	background-color: #5077bd;
	cursor: hand;
	cursor: pointer;
}

.ta-search-bar
{
	flex: 1;
	width: 150px;
	border-radius: 2px;
}

.ta-space
{
	width: 5px;
	min-width: 5px;
}

/* Copyright Area */
#copyright .ta-pad-left
{
	padding-left: 15px;
}

#copyright .ta-pad-right
{
	padding-right: 15px;
}

/* Font and Colors */
.ta-fc-white
{
	color: white;
}

.ta-bg-white
{
	background-color: white;
}

.ta-fc-grey
{
	color: #484848;
}


/* Margin*/
.ta-marg-top
{
	margin-top: 50px;
}

/* Progress bar and tables */
.ta-mid-scale
{
  margin-right: auto;
  margin-left: auto;
  display: inline;
}

.wrapper
{
  overflow: auto;
}