<!--a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a-->
<div id="copyright" class="hoc clear"> 

<p class="fl_left ta-pad-left">Copyright &copy; 2018 - Timeless Apps</p>
<p class="fl_right ta-pad-right"><a href="https://icons8.com/" title="Icons">Icons8, </a><a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
</div>