  <footer id="footer" class="hoc clear"> 
    <div class="one_third first">
      <h6 class="title">FAQ</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h2 class="nospace font-x1 ta-font-corn">How long can a project take?</h2>
            <p class="font-xs block btmspace-10">Short answer: Weeks to Months+</p>
            <p class="nospace">Project timelines can vary. Small websites may take only a few weeks while large applications can span multiple months to complete. We provide estimates to customers as early as we can. </p>
          </article>
        </li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="title">Contact Information</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          BC, Canada
          </address>
        </li>
        <li><i class="fa fa-phone"></i>604-262-0612</li>
        <li><i class="fa fa-envelope-o"></i> support@timelessapps.com</li>
      </ul>
    </div>
    <div class="one_third ta-padding-right">
      <h6 class="title">FAQ</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h2 class="nospace font-x1 ta-font-corn">Any monthly costs?</h2>
            <p class="font-xs block btmspace-10">Short answer: Starting at $0 depending on your preference. </p>
            <p class="nospace">We can provide guidance on third party hosting services. For websites that expect low traffic, free hosting options may be available. </p>
          </article>
        </li>
      </ul>
    </div>
  </footer>